<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=\, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="css/style.css" rel="stylesheet"/>
  <title>Silly Little Apps</title>
</head>
<body>
  <header>
    <h1>Silly Little Apps</h1>
    <h2>Fun little apps that I developed because...why not</h2>
  </header>
  <main>
    <section id="portfolio">
      <div>
        <h3><a href="https://speed-reader.herokuapp.com/">Speed Reader</h3>
        <p>A speed reading app designed to improve your reading speed. After entering the text from a book, the app, displays one word at a time at your prefered speed. You can change speed and pause your progress which will be stored in local storage.</p>
        <img src="img/speedReader.png" alt="image of speed reader app" title="image of speed reader app" />
        </a>
      </div>

      <div>
        <a href="https://daily-gratitudes.herokuapp.com/">
        <h3>Daily Gratitudes</h3>
        <p>A full-stack application that collects your daily gratitudes and stores them in a postgres database. Uses node.js on the backend with a simple express server, pg to communicate to the database and ejs as a templating language to render the pages.</p>
        <img src="img/gratitudes.png" alt="gratitudes" title="gratitudes" />
        </a>
      </div>
    </section>
  </main>
</body>
</html>