<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=\, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="css/style.css" rel="stylesheet"/>
  <title>Silly Little Apps</title>
</head>
<body>
  <header>
    <h1>Silly Little Apps</h1>
    <h2>Fun little apps that I developed because...why not</h2>
  </header>
  <main>
    <section id="portfolio">
      <div>
        <h3><a href="https://speed-reader.herokuapp.com/">Speed Reader</h3>
        <p>A speed reading app designed to improve your reading speed. After entering the text from a book, the app, displays one word at a time at your prefered speed. You can change speed and pause your progress which will be stored in local storage.</p>
        <img src="img/speedReader.png" alt="image of speed reader app" title="image of speed reader app" />
        </a>
      </div>

      <div>
        <h3>Random Photo of the Day</h3>
        <p>A totally useless app designed to show a random photo from the unsplash API.</p>
        <img src="" alt="image of random photo app" title="image of random photo app" />
      </div>
    </section>
  </main>
</body>
</html>