body{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#portfolio{
  display: flex;
}

div{
  border: 2px solid black;
  padding: 1em;
  width: 40%;
  text-align: center;
  margin: 1em;
}

img {
  width: 70%;
}

a{
  text-decoration: none;
}

header {
  background: lightblue;
  padding: 1em;
  text-align: center;
  border: 2px solid darkblue;
}